* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222; 
  font-family: "Poppins", serif;
} 

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.box-search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  flex-shrink: 0; /* Impede que o botão diminua */
}

.box-search button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
}

.box-search button img{
  width: 60%; /* Mantém proporção dentro do botão */
  height: auto;
  object-fit: contain; /* Garante que a imagem não se deforme */
}

.clima-icon {
  width: 170px;
  margin-top: 30px;
}

.clima h1 {
  font-size: 70px;
  font-weight: 500;
}

.clima h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}

.detalhes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;

  flex-wrap: nowrap;
}

.col img {
  width: 40px;
  margin-right: 12px;
}

.umidade, .vento {
  font-size: 25px;
}

.cidade-estado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

section {
  width: 90%;
  max-width: 470px;
  margin-top: 25px;
  color: #ddd;
  
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

section p {
  padding: 18px;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  padding: 10px 0;
  background-color: #f8f9fa;
  color: #555;
  border-top: solid 1px #ddd;
  margin-top: auto;
  font-size: 14px;
  line-height: 20px;
}

footer a {
  color: #007bff; 
  text-decoration: none;
  margin: 0 4px; 
}

.clima, .error {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: 700;
}

@media (max-width: 768px){

  .box-search {
    flex-wrap: nowrap; /* Garante que input e botão fiquem na mesma linha */
  }

  .detalhes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  .card {
    padding: 40px 20px;
  }

  .col {
    flex: 1;
  }

  .col img {
    width: 30px;
    margin-right: 8px;
  }

  section {
    margin: 40px 0px;
  }

  footer p {
    text-align: center;
  }
}


@media (max-width: 445px) {
  .box-search {
    flex-wrap: nowrap; /* Garante que input e botão fiquem na mesma linha */
  }

  .box-search input {
    font-size: 16px; /* Reduz o tamanho da fonte do input */
    padding: 8px 20px; /* Ajusta o espaçamento interno */
    height: 50px; /* Diminui altura para melhor encaixe */
    margin-right: 10px; /* Reduz a margem para o botão não ser empurrado */
  }

  .box-search button {
    width: 50px;
    height: 50px;
    flex-shrink: 0; /* Impede que o botão seja achatado */
  }

  .box-search button img {
    width: 18px; /* Ajusta o tamanho da lupa */
    height: 18px;
  }

  footer p {
    padding: 0px 15px;
  }
}
